[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=~
RuntimeDirectory=monero

Type=forking
PIDFile=/run/monero/wukongd.pid

ExecStart=/usr/bin/wukongd --config-file /etc/wukongd.conf \
    --detach --pidfile /run/monero/wukongd.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
